

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: url('./image/top-view-beautiful-rpg-still-life-items.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.component {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  width: 600px;
  max-width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.component:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.input-field,
.textarea-field,
.select-field {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.textarea-field {
  height: 500px;
}

.submit-btn,
.save-btn,
.select-btn,
.menu-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover,
.save-btn:hover,
.select-btn:hover,
.menu-btn:hover {
  background-color: #2980b9;
}

textarea {
  resize: none;
}

nav {
  text-align: center;
  margin-top: 20px;
}

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  background-color: #2c3e50d3;
  width: 500px;
  height: 500px
}

#menu{
  background-color: #2c3e50d3;
  width: 600px;
  height: 600px;
  padding: 5%;
}

#flavor-username{
  color: #fff;
}

#login h1{
  font-size: xx-large;
  color: #ffffff;
}

#login-buttons{
  display: flex;
}

#login button{
  margin: 5%;
  font-size: xx-large;
  width: 300px
}

.menu-btn {
  background-color: #2ecc71;
}

.menu-btn:hover {
  background-color: #27ae60;
}

.result-button-added {
  background-color: #27ae60;
}

.result-button-added:hover {
  background-color: rgba(165, 42, 42, 0.774);
}

.swal2-popup {
  background-color: #2c3e50;
  /* Dark background color */
  color: #ecf0f1;
  /* Light text color */
  font-family: 'Fantasy', cursive;
  /* Fantasy font */
}

.swal2-title {
  color: #3498db;
  /* Title color */
}

.swal2-content {
  color: #ecf0f1;
  /* Content text color */
}

.swal2-input {
  background-color: #34495e;
  /* Input background color */
  color: #ecf0f1;
  /* Input text color */
}

.swal2-cancel,
.swal2-confirm {
  background-color: #3498db;
  /* Button background color */
  color: #ecf0f1;
  /* Button text color */
}

/* New styles for the chat room */
#chat-room {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

#chat-messages {
  max-height: 400px; /* Set a maximum height for the chat area */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  flex: 1; /* Allow the chat messages to grow and take available space */
}

#chat-input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#send-message-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#send-message-btn:hover {
  background-color: #2980b9;
}

.message-element {
  /* Add styling for each chat message */
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
